<nav class="navegacion navbar navbar-expand-sm navbar-dark bg-dark shadow-lg">
      <a class="navbar-brand" href="#">Api Rest Covid</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
</nav>
<main class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 ">
      <h1 class="display-3 text-center">
        API de consultas COVID-19
      </h1>
    </div>
  </div>
</main>